<div class="sidebar">
<h2>FaceCumGirl 18x</h2>
</div>

<div class="contenido">
  <div class="contenido1">
    <form class="formulario" [formGroup]="loginForm">
    <div class="sl-cont-input">
    <p class="sl-h2-input">Email</p>
    <input class="sl-input" type="text" formControlName="email" placeholder="Email">
    </div>

    <div class="sl-cont-input">
    <p >Password</p>
    <input class="sl-input" type="password" formControlName="password" placeholder="password">
    </div>
    </form>
  </div>

 <button style="height: 50px; width: 100px; padding: 5px; background-color: azure; color: black; " (click)="postData()"> login </button>
</div>

<footer>

</footer>